[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
drf-yasg = "*"
django-cors-headers = "*"
whitenoise = "*"
dj-database-url = "*"
firebase-admin = "*"
pyaescrypt = "*"
django-filter = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
